.Results {
    display: flex;
    flex-grow: 8;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    width: 50%;
    flex-flow: row wrap;
}

.Name {
    font-weight: bold;
    font-size: 12px;
}

.Type {
    font-style: italic;
    font-size: 10px;
}

.Text {
    font-size: 8px;
}

.ResultItem {
    border: 1px solid black;
    list-style-type: none;
    padding: 5px; 
    height: 35%;
    width: 25%;
    margin: 5px;
    flex-flow: row wrap;
    overflow: ellipsis;
}