.Results {
    display: flex;
    flex-grow: 8;
    border: 1px solid black;
    height: 100%;
    margin: 5px;
    padding: 10px;
    width: 50%;
    flex-flow: row wrap;
}

.Name {
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}

.Plus {
    border: 1px solid grey;
    border-radius: 25%;
    background-color: white;
    color: black;
}

.Minus {
    border: 1px solid grey;
    border-radius: 25%;
    background-color: white;
    color: black;
}

.Type {
    font-style: italic;
    font-size: 10px;
}

.Text {
    font-size: 8px;
}

.ResultItem {
    border: 1px solid black;
    list-style-type: none;
    padding: 5px;
    height: 50%; 
    width: 25%;
    margin: 5px;
    flex-flow: row wrap;
    text-overflow: ellipsis;
    overflow: auto;
    cursor: pointer;
}