.pageItem {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.pagination{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

nav {
    height: auto;
    width: auto;
}